.App {
  display: flex;
  min-height: 100vh;
  background: rebeccapurple;

}


.quote-box{
  background-color: green;
  padding: 25px;
  margin: auto;
  border-radius: 3px;
  color: white;
  width:270px;

}

.quote-text span{
  padding-left:5px ;

}

.quote-author{
text-align: right;
  }
  .new-quote{
    margin-top: 1.5rem;
    color: white;
    background: blue;
    border: none;
    padding: 8px 16px 8px 16px;
    cursor: pointer;
  }
  .random-quote{
    text-align: center;
  }
  @media screen and (max-width:768px) {
    .quote-box{
      width: 350px;
    }
    
  }